@model IEnumerable<Ogrenci>

<h2>Öğrenci Listesi</h2>
<a asp-action="Create" class="btn btn-sm btn-primary">Öğrenci Ekle</a>
<hr />
<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width:150px">@Html.DisplayNameFor(m=>m.OgrenciId)</th>
            <th>@Html.DisplayNameFor(m=>m.OgrenciAd)</th>
            <th>@Html.DisplayNameFor(m=>m.OgrenciSoyad)</th>
            <th style="width:150px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ogrenci in Model)
        {
            <tr>
                <td>@ogrenci.OgrenciId</td> @*  @Html.DisplayFor(modelItem => ogrenci.OgrenciId)  bu şekilde de kullanılır*@
                <td>@ogrenci.OgrenciAd</td>
                <td>@ogrenci.OgrenciSoyad</td>
                <td>
                    <a asp-controller="Ogrenci" asp-action="Edit" asp-route-id="@ogrenci.OgrenciId" class="btn btn-sm btn-primary">Edit</a>
                    <a asp-controller="Ogrenci" asp-action="Delete" asp-route-id="@ogrenci.OgrenciId" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>