@model IEnumerable<Ogretmen>

<h2>Öğretmen Listesi</h2>
<a asp-action="Create" class="btn btn-sm btn-primary">Öğretmen Ekle</a>
<hr />
<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width:150px">@Html.DisplayNameFor(m=>m.OgretmenId)</th>
            <th>@Html.DisplayNameFor(m=>m.Ad)</th>
            <th>@Html.DisplayNameFor(m=>m.Soyad)</th>
            <th>@Html.DisplayNameFor(m=>m.Eposta)</th>
            <th>@Html.DisplayNameFor(m=>m.Telefon)</th>
            <th>@Html.DisplayNameFor(m=>m.BaslamaTarihi)</th>
            <th style="width:150px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ogretmen in Model)
        {
            <tr>
                <td>@ogretmen.OgretmenId</td>
                <td>@ogretmen.Ad</td>
                <td>@ogretmen.Soyad</td>
                <td>@ogretmen.Eposta</td>
                <td>@ogretmen.Telefon</td>
                <td>@ogretmen.BaslamaTarihi.ToShortDateString()</td>
                <td>
                    <a asp-controller="Ogretmen" asp-action="Edit" asp-route-id="@ogretmen.OgretmenId" class="btn btn-sm btn-primary">Edit</a>
                    <a asp-controller="Ogretmen" asp-action="Delete" asp-route-id="@ogretmen.OgretmenId" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>