@model IEnumerable<KursKayit>

<h2>Kurs- Öğrenci Listesi</h2>
<a asp-action="Create" class="btn btn-sm btn-primary">Yeni Kursa Öğrenci</a>
<hr />
<table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width:150px">@Html.DisplayNameFor(m=>m.KayitId)</th>
                    <th>@Html.DisplayNameFor(m=>m.Ogrenci.AdSoyad)</th>
                    <th>@Html.DisplayNameFor(m=>m.Kurs.Baslik)</th>
                    <th style="width:150px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ogrenci in Model)
                {
                    <tr>
                        <td>@ogrenci.KayitId</td> @*  @Html.DisplayFor(modelItem => ogrenci.OgrenciId)  bu şekilde de kullanılır*@
                        <td>@ogrenci.Ogrenci.AdSoyad</td>
                        <td>@ogrenci.Kurs.Baslik</td>
                        <td>
                            <a asp-controller="KursKayit" asp-action="Edit" asp-route-id="@ogrenci.OgrenciId" class="btn btn-sm btn-primary">Edit</a>
                            <a asp-controller="KursKayit" asp-action="Delete" asp-route-id="@ogrenci.OgrenciId" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
